@import url("https://fonts.googleapis.com/css2?family=Karla&family=Montserrat:wght@400;600;700&display=swap");
@import "./root.scss";
@import "./Login.scss";
@import "./Header.scss";
@import "./Chat.scss";
@import "./Loader.scss";

.preload * {
  -webkit-transition: none !important;
  -moz-transition: none !important;
  -ms-transition: none !important;
  -o-transition: none !important;
}
