@import url("https://fonts.googleapis.com/css2?family=Karla&family=Montserrat:wght@400;600;700&display=swap");
@import "./root.scss";
@import "./Login.scss";
@import "./Header.scss";
@import "./Chat.scss";
@import "./Loader.scss";

html,
body {
  scrollbar-color: var(--accent-color) var(--header-bg);
  scrollbar-width: thin;
}
::-webkit-scrollbar {
  margin-right: 15px;
  width: 4px;
  height: 1px;
  background-color: transparent;
}
::-webkit-scrollbar-thumb {
  background: var(--accent-color);
  border-right: 2px rgba(255, 255, 255, 0) solid;
  background-clip: padding-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
  background-color: var(--layout-chat-bg);
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

.preload * {
  -webkit-transition: none !important;
  -moz-transition: none !important;
  -ms-transition: none !important;
  -o-transition: none !important;
}
