@import url("https://fonts.googleapis.com/css2?family=Karla&family=Montserrat:wght@400;600;700&display=swap");
.light {
  --header-bg: #e9967a;
  --accent-color-hover: #fa335b;
  --accent-color: #e41841;
  --font-color: rgb(0, 0, 0);
  --layout-chat-bg: #ffded3;
  --chat-bg: #ffd4c5;
  --font-chat-color: white;
}

.dark {
  --font-color: rgb(255, 255, 255);
  --accent-color-hover: #fa335b;
  --accent-color: #dc143c;
  --header-bg: #000000;
  --layout-chat-bg: #1b1b1b;
  --chat-bg: #242323;
  --font-chat-color: white;
}

.login {
  height: calc(100vh - 70px);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 1s all;
  background-color: var(--layout-chat-bg);
}
.login .login-btn {
  cursor: pointer;
  background-color: var(--accent-color);
  border: 1px solid var(--accent-color);
  color: var(--font-color);
  padding: 10px;
  font-size: 30px;
}
.login .login-btn:hover {
  background-color: var(--accent-color-hover);
}

.header {
  font-family: "Montserrat", sans-serif;
  color: var(--font-color);
  display: flex;
  justify-content: space-between;
  padding: 10px;
  align-items: center;
  min-height: 50px;
  background-color: var(--header-bg);
  transition: 0.5s all;
}
.header .header-title {
  font-weight: 600;
  margin-left: 30px;
}
.header .header-controls {
  display: flex;
  align-items: center;
  margin-right: 30px;
}
.header .header-controls .theme {
  transition: all 0.5s;
  color: var(--font-color);
  padding: 10px 15px 5px 15px;
  outline: none;
  margin-right: 20px;
  border: none;
  background-color: transparent;
  font-size: 15px;
  cursor: pointer;
}
.header .header-controls .header-login {
  box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.1);
  outline: none;
  font-family: "Montserrat", sans-serif;
  padding: 5px 15px;
  font-size: 15px;
  cursor: pointer;
  border: none;
  color: var(--font-color);
  border-radius: 4px;
  background-color: var(--accent-color);
}
.header .header-controls .header-login:hover {
  background-color: var(--accent-color-hover);
}

.wrapper {
  height: 88vh;
  transition: 1s all;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.wrapper .chat-input {
  margin-top: 1%;
  height: 100%;
  width: 90%;
}
.wrapper .chat-input form {
  display: flex;
  width: 100%;
}
.wrapper .chat-input input {
  margin-left: 10px;
  padding: 12px;
  width: 100%;
  border: none;
  border-radius: 10px;
}
.wrapper .chat-input button {
  background-color: var(--accent-color);
  border: none;
  width: 10%;
  margin-left: 20px;
  padding: 20px;
  border-radius: 10px;
}
.wrapper .chat {
  height: 100vh;
  margin-top: 10px;
  width: 95%;
  border-radius: 10px;
  background-color: var(--chat-bg);
}
.wrapper .chat .chat-messages {
  height: 80vh;
  overflow: auto;
  color: var(--font-chat-color);
  padding-right: 20px;
  display: flex;
  flex-direction: column;
}
.wrapper .chat .chat-messages .message {
  background-color: var(--accent-color);
  font-size: 20px;
  display: flex;
  align-items: center;
  width: fit-content;
  margin: 10px 15px 5px 15px;
  transition: 1s all;
  padding: 5px;
  border-radius: 10px;
}
.wrapper .chat .chat-messages .message .message-avatar img {
  display: block;
  height: 20px;
  width: 20px;
  margin-right: 10px;
  border-radius: 30%;
  border: none;
}

.lds-ellipsis {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  width: 80px;
  height: 80%;
  background-color: var(--layout-chat-bg);
}

.lds-ellipsis div {
  position: absolute;
  top: 50%;
  margin-top: 30vh;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background: var(--accent-color);
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}

.lds-ellipsis div:nth-child(1) {
  left: 8px;
  animation: lds-ellipsis1 0.6s infinite;
}

.lds-ellipsis div:nth-child(2) {
  left: 8px;
  animation: lds-ellipsis2 0.6s infinite;
}

.lds-ellipsis div:nth-child(3) {
  left: 32px;
  animation: lds-ellipsis2 0.6s infinite;
}

.lds-ellipsis div:nth-child(4) {
  left: 56px;
  animation: lds-ellipsis3 0.6s infinite;
}

@keyframes lds-ellipsis1 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes lds-ellipsis3 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes lds-ellipsis2 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(24px, 0);
  }
}
html,
body {
  scrollbar-color: var(--accent-color) var(--header-bg);
  scrollbar-width: thin;
}

::-webkit-scrollbar {
  margin-right: 15px;
  width: 4px;
  height: 1px;
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background: var(--accent-color);
  border-right: 2px rgba(255, 255, 255, 0) solid;
  background-clip: padding-box;
}

body {
  box-sizing: border-box;
  background-color: var(--layout-chat-bg);
}

.preload * {
  -webkit-transition: none !important;
  -moz-transition: none !important;
  -ms-transition: none !important;
  -o-transition: none !important;
}

/*# sourceMappingURL=app.css.map */
