.wrapper {
  height: 88vh;
  transition: 1s all;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  .chat-input {
    display: flex;
    align-items: center;
    margin-top: 1%;
    height: 100%;
    width: 70%;
  }
  .chat-input input {
    margin-left: 10px;
    padding: 12px;
    width: 100%;
    border: none;
    border-radius: 10px;
  }
  .chat-input button {
    background-color: var(--accent-color);
    border: none;
    width: 10%;
    margin-left: 20px;
    padding: 20px;
    border-radius: 10px;
  }
  .chat {
    height: 100vh;
    margin-top: 10px;
    width: 95%;
    // border: 5px solid var(--accent-color);
    background-color: var(--chat-bg);
    .chat-messages {
      height: 80vh;
      overflow: auto;
      color: var(--font-color);
      display: flex;
      flex-direction: column;
      .message {
        background-color: var(--accent-color);
        font-size: 19px;
        display: flex;
        width: fit-content;
        margin: 10px 15px 5px 15px;
        padding: 5px;
        border-radius: 10px;
        .message-avatar img {
          height: 20px;
          width: 20px;
          margin-right: 10px;
          border-radius: 30%;
          border: none;
        }
      }
    }
  }
}
