.header {
  font-family: "Montserrat", sans-serif;
  color: var(--font-color);
  display: flex;
  justify-content: space-between;
  padding: 10px;
  align-items: center;
  min-height: 50px;
  background-color: var(--header-bg);
  transition: 0.5s all;
  .header-title {
    font-weight: 600;
    margin-left: 30px;
  }
  .header-controls {
    display: flex;
    align-items: center;
    .githubIcon {
      padding-top: 5px;
      cursor: pointer;
      margin-left: 30px;
      margin-right: 30px;
    }
    .theme {
      transition: all 0.5s;
      color: var(--font-color);
      padding: 10px 15px 5px 15px;
      outline: none;
      border: none;
      background-color: transparent;
      font-size: 15px;
      cursor: pointer;
    }
    .header-login {
      box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.1);
      outline: none;
      font-family: "Montserrat", sans-serif;
      padding: 5px 15px;
      font-size: 15px;
      cursor: pointer;
      border: none;
      color: var(--font-color);
      border-radius: 4px;
      background-color: var(--accent-color);
      &:hover {
        background-color: var(--accent-color-hover);
      }
    }
  }
}
