.light {
  --header-bg: #e9967a;
  --accent-color-hover: #fa335b;
  --accent-color: #e41841;
  --font-color: rgb(0, 0, 0);
  --layout-chat-bg: #ffded3;
  --chat-bg: #ffd4c5;
}
.dark {
  --font-color: rgb(255, 255, 255);
  --accent-color-hover: #fa335b;
  --accent-color: #dc143c;
  --header-bg: #000000;
  --layout-chat-bg: #1b1b1b;
  --chat-bg: #242323;
}
